/* CSS variables */
:root {
    --rose-red: #e95670;
    --dark-indigo: #342558;
    --light-indigo: #553c8f;
    --indigo: #432F70;
}

/* Global Element Selectors */
* {
    color: white;
}

/* General class selectors */
body {
    padding: 5%;
    background-color: var(--dark-indigo);
    max-width: 1440px;
    margin: auto;
}

/* persistent header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    height: 100px;
}

h1 {
    padding: 8px;
    font-size: 1.5em;
    border-bottom: solid var(--rose-red);
}

h1:hover {
    background-color: var(--rose-red);
    border-radius: 15px;
    box-shadow: 0 0 15px black;
    cursor: pointer;
}

.timer {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 0 0 7px;
    height: 100px;
    width: 100px;
    font-size: 1.3em;
    border-radius: 50%;
    background-color: var(--rose-red);
    border: solid var(--indigo);
    box-shadow: .0 0 20px var(--rose-red);
}

/* Welcome Page */
.welcomePage, .questCardsPage, .finishPage, .highScoresPage {
    text-align: center;
    padding: 50px;
    margin-top: 40px;
    border-radius: 50px;
    border: 7px solid var(--dark-indigo);
    background-color: var(--indigo);
    box-shadow: 0 0 15px black;
}

h3 {
    font-size: 4em;
    padding-bottom: 20px;
}

.wpP {
    font-size: 2em;
    padding: 10px;
}

.wpButton, .qcButton, .finishBtn, .hsTryAgain, .hsClear {
    margin-top: 30px;
    height: 50px;
    width: 150px;
    font-size: 1.3em;
    box-shadow: 0 0 15px black;
    border: none;
    border-radius: 20px;
    background-color: var(--dark-indigo);
    cursor: pointer;
}

.wpButton:hover, .qcButton:hover, .finishBtn:hover, .hsTryAgain:hover, .hsClear:hover {
    background-color: var(--rose-red);
    color: white;
}

/* question card */
.questCardsPage {
    padding: 20px;
}

.dynamicForm {
    font-size: 1.7em;
    padding-top: 20px;
}

.qcButton {
    width: 275px;
}

h4, h6 {
    font-size: 4em;
    text-align: center;
}

form {
    text-align: left;
}

/* all done screen */
.finishPage {
    text-align: left;
    padding: 20px;
}

h5 {
    font-size: 4em;
}

.finishP {
    font-size: 2em;
    padding: 20px 0;
}

#initials {
    height: 30px;
    width: 150px;
    border: 5px solid var(--dark-indigo);
    box-shadow: 0 0 15px black;
}

.finishBtn {
    margin-left: 25px;
    margin-top: 0;
    height: 30px;
    width: 100px;
    font-size: 1em;
}

/* highscores screen */
.highScoresPage {
    padding: 15px;
}

.hsTryAgain, .hsClear {
    margin: 20px;
}

/* media querys for screen size responsiveness */
@media (max-width: 450px) {
    h3, h4, h5, h6 {
        font-size: 35px;
    }

    .wpP, .finishP {
        font-size: 20px;
    }
}